header {
  background: url(/images/wallprinci.jpg) 50% / cover no-repeat;
  width: 100vw;
  height: 70rem;
  position: absolute;
}

.container {
  background-color: rgba(75, 75, 75, 0.44);
  margin: 20px 100px 0 100px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px -28px inset;
  border-radius: 10px;
}
.menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.menu > img {
  justify-self: start;
}

.menu > span {
  justify-self: end;
  font-size: 1.5rem;
  font-weight: 600;
}

.imagem-container {
  justify-self: start;
}

.icon {
  cursor: pointer;
  margin-left: 50px;
}

@media (max-width: 820px) {
  header {
    background-position: center;
  }
  .container {
    background-color: rgba(20, 12, 20, 0.54);
    margin: 0;
  }
  .menu {
    grid-template-columns: 1fr;
    gap: 10px 0;
  }
  .menu > img {
    width: 200px;
  }
  .menu > span {
    justify-self: center;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .imagem-container {
    justify-self: center;
  }
  .icon {
    cursor: initial;
    margin-left: 15px;
  }
}
